<footer id="landing-footer">
    <div class="footer-left">
        <p id="copyright">www.nammaresort.com</p>
    </div>

    <div class="footer-right">
        <ul class="social-icons">
            <li>
                <a target="_blank" title="Whatsapp" href="">
                    <i class="fa fa-whatsapp fa-1x"></i>
                </a>
            </li>
            <li>
                <a target="_blank" title="Youtube" href="http://youtube.com">
                    <i class="fa fa-youtube fa-1x"></i>
                </a>
            </li>
            <li>
                <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
                    <i class="fa fa-facebook fa-1x"></i>
                </a>
            </li>
            <li>
                <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                    <i class="fa fa-instagram fa-1x"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
