<div id="banner">
    <div id="banner-content">

        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="../assets/images/homepage-images/slide-images/slide1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../assets/images/homepage-images/slide-images/slide2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../assets/images/homepage-images/slide-images/slide3.jpg" class="d-block w-100" alt="...">
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
            </div>
        </div>

        <div class="card-1">

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">ABOUT</h3>
                            <p class="card-text">Welcome to Namma Resort, a nature retreat nestled in the heart of
                                Bannerghatta,Banglore, Karnataka. This resorts in Bannerghatta road are surrounded
                                by the coniferous vegetation-covered mountains, towering forests, and various lakes
                                providing the much-needed tranquillity that is essential to boost your weekend
                                vacations.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="./assets/images/homepage-images/card1-images/umbrella-chair.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../assets/images/homepage-images/card1-images/tent.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">STAY</h3>
                            <p class="card-text">Accommodations at Namma Resort are nothing short of extraordinary.
                                Choose from a variety of well-appointed rooms and suites, each meticulously designed
                                to offer the perfect blend of style, comfort, and functionality. Whether you prefer
                                breathtaking views of the ocean, lush gardens, or the majestic mountains, our
                                accommodations provide a serene retreat for every guest.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-2">

            <div class="section-heading">
                <h4>Attractions Nearby</h4>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="./assets/images/homepage-images/card2-images/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Bannerghatta National Park (1.2km)</p>
                        </div>
                        <!-- <div class="card-footer">
                                <small class="footer-text"></small>
                            </div> -->
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="./assets/images/homepage-images/card2-images/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Bengaluru Palace (5 km)</p>
                        </div>
                        <!-- <div class="card-footer">
                                <small class="footer-text"></small>
                            </div> -->
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="./assets/images/homepage-images/card2-images/3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Lalbagh Botanical Garden (1.9km)</p>
                        </div>
                        <!-- <div class="card-footer">
                                <small class="footer-text"></small>
                            </div> -->
                    </div>
                </div>
            </div>

        </div>

        <div class="youtube">
            <div class="section-heading">
                <h4>Watch Resort Video</h4>
            </div>
            <iframe src="https://www.youtube.com/embed/12Rl3ECYjAQ?si=C8GhOcc5RTQ2m1nW" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

        <!-- <div class="map">
            <div class="section-heading">
                <h4>Location</h4>
            </div>
            <div id="map" class="gmap"></div>
        </div> -->

    </div>
</div>